@model LetsGo.UI.ViewModels.AddEventViewModel
@{
    ViewBag.Title = "Добавление нового события";
}

<div class="entry-form form-container">
    <h1 class="form-header">@ViewBag.Title</h1><hr />
    <form id="add-event-form" asp-controller="Event" asp-action="Add" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label><br />
            <input asp-for="Name" class="form-control input-field" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label><br />
            <input asp-for="Description" class="form-control input-field" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location"></label><br />
            <select id="locations" asp-for="Location" style="width: 100%">
                <option></option>
                @foreach (var item in ViewBag.Locations)
                {
                    <option id="@item.Name">@item.Name</option>
                }
            </select>
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EventStart"></label><br />
            <input asp-for="EventStart" type="text" class="form-control input-field" id="eventStart" />
            <span asp-validation-for="EventStart" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EventEnd"></label><br />
            <input asp-for="EventEnd" type="text" class="form-control input-field" id="eventEnd" />
            <span asp-validation-for="EventEnd" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="File" class="control-label">Загрузка аватарки</label>
            <input asp-for="File" type="file" class="form-control-file" />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AgeLimit"></label>
            <input asp-for="AgeLimit" type="number" min="0" max="18" value="0" class="form-control input-field" />
            <span asp-validation-for="AgeLimit" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Категории</label>
            <input type="hidden" asp-for="SelectedCategoryIds" id="selectedCategories"/>
            @for (int i = 0; i < Model.ParentCategories.Count; i++)
            {
                <div class="form-check" id="@Model.ParentCategories[i].Id-div">
                    <input class="form-check-input" type="checkbox" id="@Model.ParentCategories[i].Id-check" value="@Model.ParentCategories[i].Id" onclick="showChildren(`@Model.ParentCategories[i].Id`)">
                    <label class="form-check-label" for="@Model.ParentCategories[i].Id-check" id="@Model.ParentCategories[i].Id-label">
                        @Model.ParentCategories[i].Name
                    </label>
                </div>
                <div class="ml-4" id="childCategories-@Model.ParentCategories[i].Id" hidden>
                    @for (int j = 0; j < Model.ChildCategories.Count; j++)
                    {
                        @if (Model.ChildCategories[j].ParentId == Model.ParentCategories[i].Id)
                        {
                            <div class="form-check">
                                <input class="form-check-input child-checkbox @Model.ParentCategories[i].Id" type="checkbox" id="@Model.ChildCategories[j].Id-check" value="@Model.ChildCategories[j].Id">
                                <label class="form-check-label text-dark" for="@Model.ChildCategories[j].Id">
                                    @Model.ChildCategories[j].Name
                                </label>
                            </div>
                        }
                    }
                </div>
            }
        </div>
        <div class="pt-5">
            <label>Билеты</label>
            <p>Общее число билетов: <b><span id="total-tickets">0</span></b></p>
            <input type="hidden" asp-for="Tickets" />
            <input type="hidden" asp-for="TicketLimit" />
            <table class="table tickets-table">
                <thead>
                    <tr>
                        <th style="width: 30%;">Название</th>
                        <th style="width: 30%;">Описание</th>
                        <th style="width: 15%;">Количество</th>
                        <th style="width: 15%;">Цена</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <h6 class="pt-3">Добавление нового билета</h6>
            <div class="row mt-4">
                <div class="col-md-4 mb-3">
                    <input id="ticket_name" placeholder="название" class="ticket-input form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <input id="ticket_count" type="number" placeholder="количество" class="ticket-input form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <input id="ticket_price" type="number" placeholder="цена" class="ticket-input form-control" />
                </div>
            </div>
            <div class="input-group mb-3">
                <textarea id="ticket_desc" placeholder="описание" class="form-control mb-2 input-field mr-3" rows="3" style="resize:none;"></textarea>
                <button class="btn btn-primary" type="button" onclick="AddTicket()">Добавить билет</button>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <button id="add" type="submit" class="btn btn-primary form-control btn-submit">Добавить</button>
        </div>
    </form>

</div>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script>
        $(document).ready(function () {
            $('#locations').select2({
                placeholder: "Выберите место проведения",
                allowClear: true,
                theme: "bootstrap-5"
            });
        });

        let startpicker = flatpickr('#eventStart', {
            altInput: false,
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minDate: "today",
            "locale": "ru",
            onClose: function (selectedDates, dateStr, instance) {
                endpicker.set('minDate', dateStr);
            },
        });

        let endpicker = flatpickr('#eventEnd', {
            altInput: false,
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minDate: "today",
            "locale": "ru",
            onClose: function (selectedDates, dateStr, instance) {
                startpicker.set('maxDate', dateStr);
            }
        });

        let totalTickets = $('#total-tickets');

        function AddTicket() {
            var name = $('#ticket_name');
            var desc = $('#ticket_desc');
            var count = $('#ticket_count');
            var price = $('#ticket_price');

            if (name.val() != '' && count.val() != '' && price.val() != '') {
                totalTickets.text(parseInt(totalTickets.text()) + parseInt(count.val()));

                $('.tickets-table tbody').append(`<tr><td><input class="ticket_name form-control" value="${name.val()}"/></td>` +
                    `<td><input class="ticket_description form-control" value="${desc.val()}"/></td>` +
                    `<td><input class="ticket_count form-control" value="${count.val()}" type="number"/></td>` +
                    `<td><input class="ticket_price form-control" value="${price.val()}" type="number"/></td>` +
                    '</td><td><input type="button" class="btn btn-outline-danger mr-2" value="✖" onclick="DeleteTicket(this)" /></td></tr>');
                name.val('');
                desc.val('');
                count.val('');
                price.val('');
            }
        }

        function DeleteTicket(a) {
            totalTickets.text(parseInt(totalTickets.text()) - parseInt($(a).closest('tr').find('td').eq(2).text()));
            $(a).closest('tr').remove()
            }

        function getTicketsData() {
            var tickets = [];
            $('.tickets-table tbody tr').each(function () {
                tickets.push(
                    '{"Name":"' + $(this).find('input').eq(0).val() + '",' +
                    '"Description":"' + $(this).find('input').eq(1).val() + '",' +
                    '"Count":' + $(this).find('input').eq(2).val() + ',' +
                    '"Price":' + $(this).find('input').eq(3).val() + '}');
            });
            return tickets;
        }

        function showChildren(categoryId) {
            if (document.getElementById(`${categoryId}-check`).checked) {
                document.getElementById(`childCategories-${categoryId}`).hidden = false;
            }
            else {
                document.getElementById(`childCategories-${categoryId}`).hidden = true;
                let childInputs = document.querySelectorAll(`div#childCategories-${categoryId} input`);
                for (let i = 0; i < childInputs.length; i++) {
                    childInputs[i].checked = false;
                }
            }
        }

        function getCheckboxData() {
            let categoryIds = [];
            let checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            for (let i = 0; i < checkboxes.length; i++) {
                categoryIds.push(checkboxes[i].value)
            }
            $('#selectedCategories').val(categoryIds);
        }

        $('form').submit(function () {
        getCheckboxData()
        event.preventDefault();
        //ticketLimit
        $('#TicketLimit').val(totalTickets.text());
        // tickets
        $('#Tickets').val("[" + getTicketsData().join() + "]");
        var formData = new FormData(this);
        $.ajax({
            url: '@Url.Action("Add", "Event")',
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                console.log(response);
                if (response.success) {
                    window.location.href = response.href;
                }
            },
        });
    });
    </script>
}