@model List<LetsGo.Core.Entities.Event>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewBag.Title = _localizer["Poster"] + DateTime.Now.ToString("MMMM", new System.Globalization.CultureInfo("ru-RU")).ToLower() + " " + DateTime.Now.Year;
}

<div class="events-page">
    <h2>@ViewBag.PageTitle</h2>
    <div class="events row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card p-0">
                    <div class="card-block-img" onclick="Details('@item.Id')">
                        <img src="@item.PosterImage" alt="@item.Name">
                        <a href="#"></a>
                        <div class="wrapper">
                            <div class="card-age">@item.AgeLimit+</div>
                        </div>
                        <div class="card-tag">
                            <a href="#">@item.Categories</a>
                        </div>
                    </div>
                    <div class="card-block-description">
                        <div class="card-title" onclick="Details('@item.Id')">@ViewBag.CateogryName "@item.Name"</div>
                        <div class="card-description">
                            <div class="card-date">
                                @item.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU")) в @item.EventStart.ToString("HH:mm")
                            </div>
                            <div class="card-venue">
                                <a class="card-venue-link" href="#">
                                    @item.Location.Name
                                </a>
                            </div>
                            <a href="#" class="card-price">
                                @_localizer["TicketFrom"] @item.MinPrice KGS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    <script>
        function Details(eventId) {
                window.location.href = '@Url.Action("Details","Event")?id=' + eventId;
        }

        $('.events').btnLoadmore({
            showItem: 20, //default 6
            whenClickBtn: 5, //default 3
            textBtn: 'Больше мероприятий',
            classBtn: 'btn btn-danger btn-loadmore'
        });
    </script>
}