@model ProfileViewModel
@{
    ViewData["Title"] = "Профиль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mx-3">
    <h4>Профиль</h4>
    <div class="card mb-4 py-3">
        <div class="card-body">
            <a href="#" class="btn btn-light mr-3 mt-auto" style="float:right;">Изменить</a>
            <div class="row">
                <div class="col-lg-2">
                    <img src="https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png" width="100" height="100" class="rounded-circle ml-3" alt="no avatar" />
                </div>
                <div class="col-lg-6">
                    <h5 class="category-header">@Model.User.Email</h5>
                    <p class="card-text">
                        @if (@Model.User.UserName != null)
                        {<span>Логин: @Model.User.UserName</span>}
                        @if (@Model.User.PhoneNumber != null)
                        {<br /><span>Номер телефона: @Model.User.PhoneNumber</span>}
                    </p>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Events.Count != 0)
    {
        <div>
            <div class="row my-4">
                <h4 class="mr-auto">Мероприятия</h4>
                <form id="search" class="mr-2">
                    <div class="form-outline">
                        <input style="text-align: center;" type="text" id="SearchString" class="form-control" placeholder="Поиск"
                               aria-label="Search" />
                    </div>
                </form>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle mr-2 px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Сортировка
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle mr-2 px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Фильтрация
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <a href="#" class="btn btn-danger px-3" >+ Добавить мероприятие</a>
            </div>
            @foreach (var item in Model.Events)
            {
                <div class="card mb-3 event-card" style="border-radius: 15px" onclick="eventDetails('@item.Id')">
                    <p hidden>@item.Id</p>
                    <div class="row">
                        <div class="pn-page-head col-lg-10" style="border-radius: 0">
                            <img class="blur_img" src="@item.PosterImage" alt="">
                            <div class="row">
                                <div class="col-lg-4 mr-5">
                                    <div class="pn-head_image">
                                        <img src="@item.PosterImage" alt="" class="rounded">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="pn-head_title">
                                        <h1>@item.Name</h1>
                                        <span>@item.AgeLimit +</span>
                                    </div>
                                    <div class="pn-head_description">
                                        <div class="pn-head_text">@item.EventStart.ToShortDateString() @item.EventEnd.ToShortDateString()</div>
                                        <div class="pn-head_place">@item.Location.Name</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 my-auto text-center sideBox">  
                            <h1 style="font-size: 22px;">Билетов</h1>
                            <p>
                                куплено: 10<br />
                                осталось: 15
                            </p>
                            @switch (item.Status)
                            {
                                case Status.NotDefined:
                                    <button type="button" class="btn btn-danger requestForNew" onclick="RequestForNew(this)">Отправить заявку на модерацию</button><br />
                                    <a class="btn btn-danger" asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id"><span class="material-icons my-auto px-3 py-2">edit</span></a><br />
                                    break;
                                case Status.Edited:
                                    <button type="button" class="btn btn-danger requestForNew" onclick="RequestForNew(this)">Отправить заявку на модерацию</button><br />
                                    <a class="btn btn-danger" asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id"><span class="material-icons my-auto px-3 py-2">edit</span></a><br />
                                    break;
                                case Status.Rejected:
                                    <button type="button" class="btn btn-danger requestForNew" onclick="RequestForNew(this)">Отправить заявку на модерацию</button><br />
                                    <a class="btn btn-danger" asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id"><span class="material-icons my-auto px-3 py-2">edit</span></a><br />
                                    break;
                                case Status.New:
                                    <p>ожидайте одобрения админа</p><br />
                                    <a class="btn btn-danger" asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id"><span class="material-icons my-auto px-3 py-2">edit</span></a><br />
                                    break;
                                case Status.Published:
                                    <button type="button" class="btn btn-danger requestForUnPublish" onclick="RequestForUnPublish(this)">Снять с публикации</button><br />
                                    break;
                                case Status.UnPublished:
                                    <button type="button" class="btn btn-danger requestForPublishAgain" onclick="RequestForPublishAgain(this)">Вернуть в публикации</button><br />
                                    break;
                                case Status.Expired:
                                    <p>Мероприятие уже прошло</p><br />
                                    break;
                            }
                        </div>
                    </div>
                    @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
                    {
                        <div class="text-light bg-danger text-center align-content-between admin-event pt-2">
                            <a href="#" class="btn btn-danger px-3 ml-4 mb-2">Одобрить</a>
                            <a href="#" class="btn btn-danger px-3 mb-2">Отклонить</a>
                            <span class="material-icons my-auto px-3 py-2">edit</span>
                            <span class="material-icons px-3 py-2">delete</span>
                        </div>
                    }
                </div>

            }
        </div>
    }
    else
    { 
        <p>Мероприятия еще не былии добавлены.</p>
    }
</div>


<div class="position-fixed p-3" style="z-index: 11; position: sticky; top: 60px; right:0;">
    <div class="toast align-items-center text-dark bg-white rounded border-1 badge-dark"
         role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto">LetsGo</strong>
            <button type="button" class="ml-auto mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body"></div>
    </div>
</div>

@section Scripts
{
    <script>


        function eventDetails(eventId) {
                window.location.href = '@Url.Action("Details","Event")?id=' + eventId;
        }

        let buttons;
        let idS;
        function getID(a) {
            idS = $(a).closest('.event-card').find('p').eq(0).html()
            console.log(idS)
        }


        function RequestForNew(a) {
            event.stopPropagation();
            buttons = $(a).closest('.sideBox')
            getID(a)
            $.post('@Url.Action("RequestForNew", "Cabinet")', { id: idS }, function (response) {
                $('.toast-body').text(response.nEw)
                $('.toast').toast('show');
                buttons.children('.requestForNew').hide()
        });
        }

        function RequestForUnPublish(a) {
            event.stopPropagation();
            buttons = $(a).closest('.sideBox')
            getID(a)
            $.post('@Url.Action("RequestForUnPublish", "Cabinet")', { id: idS }, function (response) {
                $('.toast-body').text(response.unPubl)
                $('.toast').toast('show');
              buttons.children('.requestForUnPublish').hide()
                buttons.append('<button type="button" class="btn btn-danger requestForPublishAgain"'
                    + 'onclick="RequestForPublishAgain(this)">Вернуть в публикации</button>')
        });
        }

        function RequestForPublishAgain(a) {
            event.stopPropagation();
            buttons = $(a).closest('.sideBox')
            getID(a)
            $.post('@Url.Action("RequestForPublishAgain", "Cabinet")', { id: idS }, function (response) {
                $('.toast-body').text(response.publ)
                $('.toast').toast('show');
              buttons.children('.requestForPublishAgain').hide()
                buttons.append('<button type="button" class="btn btn-danger requestForUnPublish"'
                    + 'onclick="RequestForUnPublish(this)">Снять с публикации</button>')
        });
        }
    </script>
}