@model ProfileViewModel
@{
    ViewData["Title"] = "Профиль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mx-3">
    <h4>Профиль</h4>
    <div class="card mb-4 py-3">
        <div class="card-body">
            <a href="#" class="btn btn-light mr-3 mt-auto" style="float:right;">Изменить</a>
            <div class="row">
                <div class="col-lg-2">
                    <img src="https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png" width="100" height="100" class="rounded-circle ml-3" alt="no avatar" />
                </div>
                <div class="col-lg-6">
                    <h5 class="category-header">@Model.User.Email</h5>
                    <p class="card-text">
                        @if (@Model.User.UserName != null)
                        {<span>Логин: @Model.User.UserName</span>}
                        @if (@Model.User.PhoneNumber != null)
                        {<br /><span>Номер телефона: @Model.User.PhoneNumber</span>}
                    </p>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Events.Count != 0)
    {
        <div>
            <div class="row my-4">
                <h4 class="mr-auto">Мероприятия</h4>
                <div class="form-outline mr-2">
                    <input style="text-align: center;" type="text" id="searchbox-input" class="form-control" placeholder="Поиск"
                           aria-label="Search" onkeyup="filterEvents()" />
                </div>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle mr-2 px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Сортировка
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle mr-2 px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Фильтрация
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <a href="#" class="btn btn-danger px-3" >+ Добавить мероприятие</a>
            </div>
            <div id="all-events">
                @foreach (var item in Model.Events)
                {
                    <div class="card mb-3 event-card" style="border-radius: 15px" onclick="eventDetails('@item.Id')">
                        <div id="event-status" style="display:none;">@item.Status</div>
                        <div class="row">
                            <div class="pn-page-head col-lg-10" style="border-radius: 0">
                                <img class="blur_img" src="@item.PosterImage" alt="">
                                <div class="row">
                                    <div class="col-lg-4 mr-5">
                                        <div class="pn-head_image">
                                            <img src="@item.PosterImage" alt="" class="rounded">
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="pn-head_title">
                                            <h1>@item.Name</h1>
                                            <span>@item.AgeLimit +</span>
                                        </div>
                                        <div class="pn-head_description">
                                            <div class="pn-head_text">@item.EventStart.ToShortDateString() @item.EventEnd.ToShortDateString()</div>
                                            <div class="pn-head_place">@item.Location.Name</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 my-auto text-center">
                                <h1 style="font-size: 22px;">Билетов</h1>
                                <p>
                                    куплено: 10<br />
                                    осталось: 15
                                </p>
                                @*@if (item.Status == ...)
                                    {
                                         ...
                                    }*@
                                <a href="#" class="btn btn-danger" onclick="Publish('@item.Id')">Опубликовать</a>
                            </div>
                        </div>
                        @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
                        {
                            <div class="text-light bg-danger text-center align-content-between admin-event pt-2">
                                <a href="#" class="btn btn-danger px-3 ml-4 mb-2">Одобрить</a>
                                <a href="#" class="btn btn-danger px-3 mb-2">Отклонить</a>
                                <span class="material-icons my-auto px-3 py-2">edit</span>
                                <span class="material-icons px-3 py-2">delete</span>
                            </div>
                        }
                    </div>

                }
            </div>
        </div>
    }
    else
    {
        <p>Мероприятия еще не былии добавлены.</p>
    }
</div>

@section Scripts
{
    <script>
        function eventDetails(eventId) {
                window.location.href = '@Url.Action("Details","Event")?id=' + eventId;
        }
        function Publish(eventId) {
            event.stopPropagation();
            event.preventDefault();
        }

        $('#all-events').btnLoadmore({
            showItem: 20, //default 6
            whenClickBtn: 5, //default 3
            textBtn: 'Больше мероприятий',
            classBtn: 'btn btn-danger btn-loadmore'
        });

        function filterEvents() {
            var input, filter, cards, cardContainer, h5, i, title, location, eventStatus;
            input = document.getElementById("searchbox-input");
            filter = input.value.toUpperCase();
            cardContainer = document.getElementById("all-events");
            cards = cardContainer.getElementsByClassName("card");
            for (i = 0; i < cards.length; i++) {
                title = cards[i].querySelector(".pn-head_title h1");
                location = cards[i].querySelector(".pn-head_place");
                eventStatus = cards[i].querySelector("#event-status");
                if (title.innerText.toUpperCase().indexOf(filter) > -1
                    || location.innerText.toUpperCase().indexOf(filter) > -1
                    || eventStatus.innerText.toUpperCase().indexOf(filter) > -1) {
                    cards[i].style.display = "";
                } else {
                    cards[i].style.display = "none";
                }
            }
        }
    </script>
}