@model LetsGo.UI.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Category Page";
}
<div class="events-page">
    <h2>Афиша <span style="text-transform:lowercase;">@ViewBag.CategoryName</span> Бишкека</h2>
    <div class="events row">
        @foreach (var item in Model.Events)
        {
            <div class="col-md-4">
                <div class="card p-0">
                    <div class="card-block-img" onclick="Details('@item.Id')">
                        <img src="@item.PosterImage" alt="@item.Name">
                        <a href="#"></a>
                        <div class="wrapper">
                            <div class="card-age">@item.AgeLimit+</div>
                        </div>
                        <div class="card-tag">
                            <a href="#">@ViewBag.CategoryName</a>
                        </div>
                    </div>
                    <div class="card-block-description">
                        <div class="card-title" onclick="Details('@item.Id')">@ViewBag.CateogryName "@item.Name"</div>
                        <div class="card-description">
                            <div class="card-date">
                                @item.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU")) в @item.EventStart.ToString("HH:mm")
                            </div>
                            <div class="card-venue">
                                <a class="card-venue-link" href="#">
                                    @item.Location.Name
                                </a>
                            </div>
                            <a href="#" class="card-price">
                                БИЛЕТЫ ОТ @item.MinPrice KGS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    <script>
        function Details(eventId) {
                window.location.href = '@Url.Action("Details","Event")?id=' + eventId;
        }
    </script>
}