@model ProfileViewModel

@{ 
    ViewBag.Title = "Личный кабинет";
}

<div class="border p-5">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.User.AvatarLink" alt="avatar" />
        </div>
        <div class="col-md-8">
            <p>@Model.User.Email</p>
            <p>@Model.User.PhoneNumber</p>
            <p></p>
        </div>
    </div>
</div>

<div>
    @foreach (var item in Model.Events)
    {
    <div class="row p-5">
        <div class="descriptions col-md-6">
            <p hidden>@item.Id</p>
            <div><img src="@item.PosterImage" height="400" width="400" alt="Alternate Text" /></div>
            <p>@item.Name</p>
            <p>@item.Location.Name</p>
            <p>@item.TicketLimit</p>
            <p>@item.AgeLimit</p>
            <p>@item.EventStart.ToString("f")</p>
            <p>@item.EventEnd.ToString("f")</p>
            <p>@item.CreatedAt.ToString("f")</p>
            <div>
                @switch (item.Status)
                {
                    case Status.NotDefined:
                        <p>Не определено</p>
                        break;
                    case Status.Rejected:
                        <p>Отклонено</p>
                        break;
                    case Status.New:
                        <p>Новое</p>
                        break;
                    case Status.Published:
                        <p>Опубликовано</p>
                        break;
                    case Status.UnPublished:
                        <p>Не опубликовано</p>
                        break;
                    case Status.Expired:
                        <p>Мероприятие уже прошло</p><br />
                        break;
                    case Status.Edited:
                        <p>Отредактировано</p><br />
                        break;
                }
            </div>
        </div>
        <div class="buttons col-md-6">
            @if (User.IsInRole("organizer"))
            {
                @switch (item.Status)
                {
                    case Status.NotDefined:
                        <button type="button" class="btn btn-primary requestForNew" onclick="RequestForNew(this)">отправить заявку на модерацию</button><br />
                        <a class="btn btn-primary" asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a><br />
                        break;
                    case Status.Edited:
                        <button type="button" class="btn btn-primary requestForNew" onclick="RequestForNew(this)">отправить заявку на модерацию</button><br />
                        <a class="btn btn-primary" asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a><br />
                        break;
                    case Status.Rejected:
                        <button type="button" class="btn btn-primary requestForNew" onclick="RequestForNew(this)">отправить заявку на модерацию</button><br />
                        <a class="btn btn-primary" asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a><br />
                        break;
                    case Status.New:
                        <p>ожидайте одобрения админа</p><br />
                        <a class="btn btn-primary" asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a><br />
                        break;
                    case Status.Published:
                        <button type="button" class="btn btn-primary requestForUnPublish" onclick="RequestForUnPublish(this)">снять с публикации</button><br />
                        break;
                    case Status.UnPublished:
                        <button type="button" class="btn btn-primary requestForPublishAgain" onclick="RequestForPublishAgain(this)">вернуть в публикации</button><br />
                        break;
                    case Status.Expired:
                        <p>мероприятия уже прошло</p><br />
                        break;
                }
            }
            else
            {
                @if (item.Status != Status.New)
                {
                    <a class="btn btn-primary mb-1">редактировать</a><br />
                }
                @switch (item.Status)
                {
                    case Status.New:
                        <a class="btn btn-primary">одобрить</a>
                        <a class="btn btn-primary">отклонить</a>
                        <span>создание</span><br />
                        break;
                    case Status.ReviewPublished:
                        <a class="btn btn-primary">одобрить возвращение в публикации</a><br />
                        break;
                    case Status.ReviewUnPublished:
                        <a class="btn btn-primary">одобрить снятие с публикации</a><br />
                        break;
                    case Status.Published:
                        <a class="btn btn-primary">снять с публикации</a><br />
                        break;
                    case Status.UnPublished:
                        <a class="btn btn-primary">вернуть в публикации</a><br />
                        break;
                }
            }
        </div>
    </div>
    }
</div>


<div class="position-fixed p-3" style="z-index: 11; position: sticky; top: 60px; right:0;">
    <div class="toast align-items-center text-dark bg-white rounded border-1 badge-dark"
         role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto">LetsGo</strong>
            <button type="button" class="ml-auto mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body"></div>
    </div>
</div>

@section scripts{ 
    <script>


        function RequestForNew(a) {
            var divDescr = $(a).closest('.row').find('div').eq(0)
            var buttons = $(a).closest('.row').find('div').eq(3)
            var idS = divDescr.find('p').eq(0).html()
            $.post('@Url.Action("RequestForNew", "Cabinet")', { id: idS }, function (response) {                
                $('.toast-body').text(response.nEw)
                $('.toast').toast('show');
                divDescr.find('p').eq(7).text(response.date)
                divDescr.find('div').eq(1).children("p").text(response.nEwStat)
                buttons.children('.requestForNew').fadeOut()
        });
        }

        function RequestForUnPublish(a) {
            var divDescr = $(a).closest('.row').find('div').eq(0)
            var buttons = $(a).closest('.row').find('div').eq(3)
            var idS = divDescr.find('p').eq(0).html()
            $.post('@Url.Action("RequestForUnPublish", "Cabinet")', { id: idS }, function (response) {
                $('.toast-body').text(response.unPubl)
                $('.toast').toast('show');
                divDescr.find('p').eq(7).text(response.date)
                divDescr.find('div').eq(1).children("p").text(response.unPublStat)
              buttons.children('.requestForUnPublish').fadeOut()
                  buttons.append('<a class="btn btn-primary requestForPublishAgain"'
                  + 'onclick="RequestForPublishAgain(this)">вернуть в публикации</a>')
        });
        }

        function RequestForPublishAgain(a) {
            var divDescr = $(a).closest('.row').find('div').eq(0)
            var buttons = $(a).closest('.row').find('div').eq(3)
            var idS = divDescr.find('p').eq(0).html()
            $.post('@Url.Action("RequestForPublishAgain", "Cabinet")', { id: idS }, function (response) {
                $('.toast-body').text(response.publ)
                $('.toast').toast('show');
                divDescr.find('p').eq(7).text(response.date)
                divDescr.find('div').eq(1).children("p").text(response.publStat)
              buttons.children('.requestForPublishAgain').fadeOut()
              buttons.append('<a class="btn btn-primary requestForUnPublish"'
                  + 'onclick="RequestForUnPublish(this)">снять с публикации</a>')
        });
        }

    </script>

}