@model ProfileViewModel

@{ 
    ViewBag.Title = "Личный кабинет";
}

<div class="border p-5">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.User.AvatarLink" alt="avatar" />
        </div>
        <div class="col-md-8">
            <p>@Model.User.Email</p>
            <p>@Model.User.PhoneNumber</p>
            <p></p>
        </div>
    </div>
</div>

<div>
    @foreach (var item in Model.Events)
    {
    <div class="row p-5" id="@item.Id">
        <div class="descriptions col-md-6">
            <p>@item.Name</p>
            <p>@item.Location.Name</p>
            <p>@item.EventStart.ToLongTimeString()</p>
            <p>@item.Status.ToString()</p>
        </div>
        <div class="buttons col-md-6">
            @if (User.IsInRole("organizer"))
            {
                @switch (item.Status)
                {
                    case Status.New:
                        <p>ожидайте одобрения админа</p><br />
                        break;
                    case Status.Rejected:
                        <a class="btn btn-primary RequestForPublishAgain" onclick="RequestForPublish(@item.Id)">отправить заявку заново</a><br />
                        break;
                    case Status.Published:
                        <a class="btn btn-primary">снять с публикации</a><br />
                        break;
                    case Status.UnPublished:
                        <a class="btn btn-primary">вернуть в публикации</a><br />
                        break;
                    case Status.Expired:
                        <p>мероприятия уже прошло</p><br />
                        break;
                }
            }
            else
            {
                @if (item.Status != Status.New)
                {
                    <a class="btn btn-primary mb-1">редактировать</a><br />
                }
                @switch (item.Status)
                {
                    case Status.New:
                        <a class="btn btn-primary">одобрить</a>
                        <a class="btn btn-primary">отклонить</a>
                        <span>создание</span><br />
                        break;
                    case Status.ReviewPublished:
                        <a class="btn btn-primary">одобрить возвращение в публикации</a><br />
                        break;
                    case Status.ReviewUnPublished:
                        <a class="btn btn-primary">одобрить снятие с публикации</a><br />
                        break;
                    case Status.Published:
                        <a class="btn btn-primary">снять с публикации</a><br />
                        break;
                    case Status.UnPublished:
                        <a class="btn btn-primary">вернуть в публикации</a><br />
                        break;
                }
            }
        </div>
    </div>
    }
</div>

@section scripts{ 
    <script>
        function RequestForPublish(e) {
            $.ajax({
                url: '@Url.Action("Cabinet", "RequestForPublish")',
                type: 'POST',
                dataType: false,
                data: { 'id' : e},
                success: function (response) {
                   // $('#' + e + ' .decriptions').find('p').eq(3).text(response.ReviewPublished)
                   // $('#' + e + ' .buttons .RequestForPublishAgain').hide()
                }
            })
        }
    </script>

}