@model IndexPageViewModel
<div class="body_part_2">
    <div class="cont_2_body d-flex pb-3">
        <div class="container-2 container-fluid mx-auto">
            <h1 class="main_page_start_text pt-1 mb-5 text-center">Быстрый поиск и покупка билетов</h1>
            <div class="container_basic_content">
                <div class="search_wrapper d-flex justify-content-center">
                    <div class="seacrh_input input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Событие или площадка" aria-label="Имя получателя" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="button">Город</button>
                        </div>
                    </div>
                </div>
                <div class="links mt-5 mx-auto row justify-content-center">
                    <a href="#" class="link_day btn btn-secondary btn-lg" role="button" aria-pressed="true">Афиша</a>
                    <a href="#" class="link_day btn btn-secondary btn-lg" role="button" aria-pressed="true">Сегодня</a>
                    <a href="#" class="link_day btn btn-secondary btn-lg" role="button" aria-pressed="true">Завтра</a>
                    <a href="#" class="link_day btn btn-secondary btn-lg" role="button" aria-pressed="true">Выходные</a>
                </div>
                <div class="icon_buttons align-content-center">
                    <button class="btn btn_icon mx-2 mt-2"><i class="icon_btn far fa-calendar-alt"></i>Календарь</button>
                    <button class="btn btn_icon mx-2 mt-2"><i class="icon_btn fas fa-bars"></i>Фильтры</button>
                </div>
            </div>
        </div>
    </div>
    <div class="main_info_card card_group row mx-0 justify-content-center mt-5">
        <div class="col-lg-3 col-md-5 col-11 mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2"><img class="img_card" width="58" height="52" src="~/images/68290.png" alt="pic-1"></div>
                <div class="card-body mx-auto">
                    <h1 class="title_card">Все</h1>
                </div>
                <p class="card-text text-center mb-2 text-lowercase pt-1">цены на билеты как в кассах</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-11 mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2"><img class="img_card" width="58" height="52" src="~/images/26583.png" alt="pic-2"></div>
                <div class="card-body mx-auto">
                    <h1>билеты</h1>
                </div>
                <p class="card-text text-center mb-2 text-lowercase pt-1">онлайн всегда в наличии</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-11 mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2"><img class="img_card" width="58" height="52" src="~/images/26634.png" alt="pic-3"></div>
                <div class="card-body mx-auto">
                    <h1>без</h1>
                </div>
                <p class="card-text text-center mb-2 text-lowercase pt-1">комиссии и прочих сборов</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-11 mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2"><img class="img_card" width="58" height="52" src="~/images/2512085.png" alt="pic-4"></div>
                <div class="card-body mx-auto">
                    <h1>наценки</h1>
                </div>
                <p class="card-text text-center mb-2 text-lowercase pt-1">нет, вы платите только за билеты</p>
            </div>
        </div>
    </div>
</div>

<div class="events pt-3">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="categories">
                    <div class="concerts">
                        <div class="row justify-content-between">
                            <div class="col-11">
                                <h2 class="category-header">Концерты</h2>
                            </div>
                            <div class="col-1 p-0 ps-4">
                                <a id="concerts-link" class="more-btn round">
                                    <span class="icon-more">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div id="all-concerts" class="row">
                            @foreach (var concert in Model.Concerts)
                            {
                                <div class="col-md-4">
                                    <div class="card p-0">
                                        <div class="card-block-img">
                                            <img src="@concert.PosterImage" alt="@concert.Name">
                                            <a href="#"></a>
                                            <div class="wrapper">
                                                <div class="card-age">@concert.AgeLimit+</div>
                                            </div>
                                            <div class="card-tag">
                                                <a href="#">Концерты</a>
                                            </div>
                                        </div>
                                        <div class="card-block-description">
                                            <a class="card-title" href="#">Концерт "@concert.Name"</a>
                                            <div class="card-description">
                                                <div class="card-date">
                                                    @concert.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU")) в @concert.EventStart.ToString("HH:mm")
                                                    @*с 18 декабря по 19 декабря 2021*@
                                                </div>
                                                <div class="card-venue">
                                                    <a class="card-venue-link" href="#">
                                                        @concert.Location.Name
                                                    </a>
                                                </div>
                                                <a href="#" class="card-price">
                                                    БИЛЕТЫ ОТ 1500 ₽
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="festivals">
                        <div class="row justify-content-between">
                            <div class="col-11">
                                <h2 class="category-header">Фестивали</h2>
                            </div>
                            <div class="col-1 p-0 ps-4">
                                <a id="festivals-link" class="more-btn round">
                                    <span class="icon-more">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div id="all-festivals" class="row row-cols-1 row-cols-md-3">
                            @foreach (var festival in Model.Festivals)
                            {
                                <div class="col-md-4">
                                    <div class="card p-0">
                                        <div class="card-block-img">
                                            <img src="@festival.PosterImage" alt="@festival.Name">
                                            <a href="#"></a>
                                            <div class="wrapper">
                                                <div class="card-age">@festival.AgeLimit+</div>
                                            </div>
                                            <div class="card-tag">
                                                <a href="#">Фестивали</a>
                                            </div>
                                        </div>
                                        <div class="card-block-description">
                                            <a class="card-title" href="#">Фестиваль"@festival.Name"</a>
                                            <div class="card-description">
                                                <div class="card-date">
                                                    @festival.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU")) в @festival.EventStart.ToString("HH:mm")
                                                    @*с 18 декабря по 19 декабря 2021*@
                                                </div>
                                                <div class="card-venue">
                                                    <a class="card-venue-link" href="#">
                                                        @festival.Location.Name
                                                    </a>
                                                </div>
                                                <a href="#" class="card-price">
                                                    БИЛЕТЫ ОТ 1500 ₽
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="performances">
                        <div class="row justify-content-between">
                            <div class="col-11">
                                <h2 class="category-header">Спектакли</h2>
                            </div>
                            <div class="col-1 p-0 ps-4">
                                <a id="performances-link" class="more-btn round">
                                    <span class="icon-more">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div id="all-performances" class="row row-cols-1 row-cols-md-3">
                            @foreach (var performance in Model.Performances)
                            {
                                <div class="col-md-4">
                                    <div class="card p-0">
                                        <div class="card-block-img">
                                            <img src="@performance.PosterImage" alt="@performance.Name">
                                            <a href="#"></a>
                                            <div class="wrapper">
                                                <div class="card-age">@performance.AgeLimit+</div>
                                            </div>
                                            <div class="card-tag">
                                                <a href="#">Спектакли</a>
                                            </div>
                                        </div>
                                        <div class="card-block-description">
                                            <a class="card-title" href="#">Спектакль"@performance.Name"</a>
                                            <div class="card-description">
                                                <div class="card-date">
                                                    c @performance.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU"))
                                                    по @performance.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU"))
                                                </div>
                                                <div class="card-venue">
                                                    <a class="card-venue-link" href="#">
                                                        @performance.Location.Name
                                                    </a>
                                                </div>
                                                <a href="#" class="card-price">
                                                    БИЛЕТЫ ОТ 1500 ₽
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="for-children">
                        <div class="row justify-content-between">
                            <div class="col-11">
                                <h2 class="category-header">Детям</h2>
                            </div>
                            <div class="col-1 p-0 ps-4">
                                <a id="for-children-link" class="more-btn round">
                                    <span class="icon-more">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div id="all-for-children" class="row row-cols-1 row-cols-md-3">
                            @foreach (var forChildren in Model.ForChildren)
                            {
                                <div class="col-md-4">
                                    <div class="card p-0">
                                        <div class="card-block-img">
                                            <img src="@forChildren.PosterImage" alt="@forChildren.Name">
                                            <a href="#"></a>
                                            <div class="wrapper">
                                                <div class="card-age">@forChildren.AgeLimit+</div>
                                            </div>
                                            <div class="card-tag">
                                                <a href="#">Детям</a>
                                            </div>
                                        </div>
                                        <div class="card-block-description">
                                            <a class="card-title" href="#">@forChildren.Name</a>
                                            <div class="card-description">
                                                <div class="card-date">
                                                    c @forChildren.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU"))
                                                    по @forChildren.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU"))
                                                </div>
                                                <div class="card-venue">
                                                    <a class="card-venue-link" href="#">
                                                        @forChildren.Location.Name
                                                    </a>
                                                </div>
                                                <a href="#" class="card-price">
                                                    БИЛЕТЫ ОТ 1500 ₽
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="venues">
                        <div class="row justify-content-between">
                            <div class="col-11">
                                <h2 class="category-header">Площадки Бишкека</h2>
                            </div>
                            <div class="col-1 p-0 ps-4">
                                <a id="venues-link" class="more-btn round">
                                    <span class="icon-more">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div id="all-venues" class="row row-cols-1 row-cols-md-3">
                            @foreach (var location in Model.Locations)
                            {
                                <div class="col-md-4 p-0">
                                    <div class="card venues-card">
                                        <a href="#" class="venue">
                                            <div class="venue-card-img-container">
                                                <span class="venue-card-placeholder">@location.Name.Substring(0, 1)</span>
                                            </div>
                                            <div class="venue-card-content">
                                                <p class="venue-card-type">@location.Categories</p>
                                                <p class="venue-card-title">@location.Name</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                @*фильтрация*@
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(window).on('popstate', function (event) {
            $('body').load(location.href);
        });

        $('#concerts-link').on("click", function () {
            $.ajax({
                type: "GET",
                url: "/Event/GetEventsByCategory",
                data: { category: "Концерты" },
                success: function (result) {
                    $('#concerts-link').hide();
                    // This will create a new entry in the browser's history, without reloading
                    //  window.history.pushState({}, '', '/Event/Concert');
                    window.history.pushState({}, '', '');

                    // This will replace the current entry in the browser's history, without reloading
                    // window.history.replaceState({}, null, 'https://localhost:44377/Event/Concert');
                    window.history.replaceState({}, null, 'https://localhost:44377');

                    console.log(result);

                    $('.festivals').remove();
                    $('.performances').remove();
                    $('.for-children').remove();
                    $('#all-concerts').empty();
                    $('.concerts .category-header').text("Афиша концерты Бишкека");
                    result.forEach((concert) => {
                        var eventStart = new Date(concert.eventStart);
                        $('#all-concerts').append(`
                                                    <div class="col-md-4">
                                                        <div class="card p-0">
                                                            <div class="card-block-img">
                                                                <img src="${concert.posterImage}" alt="${concert.name}">
                                                                <a href="#"></a>
                                                                <div class="wrapper">
                                                                    <div class="card-age">${concert.ageLimit}+</div>
                                                                </div>
                                                                <div class="card-tag">
                                                                    <a href="#">Концерты</a>
                                                                </div>
                                                            </div>
                                                            <div class="card-block-description">
                                                                <a class="card-title" href="#">Концерт "${concert.name}"</a>
                                                                <div class="card-description">
                                                                    <div class="card-date">
                                                                        ${eventStart.toLocaleDateString("ru-RU", { day: 'numeric' })}
                                                                        ${eventStart.toLocaleDateString("ru-RU", { month: 'long' })}
                                                                        ${eventStart.toLocaleDateString("ru-RU", { year: 'numeric' })} в
                                                                        ${eventStart.toLocaleTimeString("ru-RU", { timeStyle: 'short' })}
                                                                    </div>
                                                                    <div class="card-venue">
                                                                        <a class="card-venue-link" href="#">
                                                                            ${concert.location.name}
                                                                        </a>
                                                                    </div>
                                                                    <a href="#" class="card-price">
                                                                        БИЛЕТЫ ОТ 1500 ₽
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                `);
                    });


                    $('#all-concerts').btnLoadmore({
                        showItem: 15, //default 6
                        whenClickBtn: 15, //default 3
                        textBtn: 'больше мероприятий',
                        classBtn: 'btn-showmore'
                    });

                },
                error: function (result) {
                    console.log(result);
                }
            });
        });

        $('#festivals-link').on("click", function () {
            $.ajax({
                type: "GET",
                url: "/Event/GetEventsByCategory",
                data: { category: "Фестивали" },
                success: function (result) {
                    $('#festivals-link').hide();
                    // This will create a new entry in the browser's history, without reloading
                    // window.history.pushState({}, '', '/Event/Festivals');
                    window.history.pushState({}, '', '');

                    // This will replace the current entry in the browser's history, without reloading
                    // window.history.replaceState({}, null, 'https://localhost:44377/Event/Festivals');
                    window.history.replaceState({}, null, 'https://localhost:44377');

                    console.log(result);
                    $('.concerts').remove();
                    $('.performances').remove();
                    $('.for-children').remove();
                    $('#all-festivals').empty();
                    $('.festivals .category-header').text("Афиша фестивали Бишкека");
                    result.forEach((festival) => {
                        var eventStart = new Date(festival.eventStart);
                        $('#all-festivals').append(`
                                                    <div class="col-md-4">
                                                        <div class="card p-0">
                                                            <div class="card-block-img">
                                                                <img src="${festival.posterImage}" alt="${festival.name}">
                                                                <a href="#"></a>
                                                                <div class="wrapper">
                                                                    <div class="card-age">${festival.ageLimit}+</div>
                                                                </div>
                                                                <div class="card-tag">
                                                                    <a href="#">Фестивали</a>
                                                                </div>
                                                            </div>
                                                            <div class="card-block-description">
                                                                <a class="card-title" href="#">Фестиваль "${festival.name}"</a>
                                                                <div class="card-description">
                                                                    <div class="card-date">
                                                                        ${eventStart.toLocaleDateString("ru-RU", { day: 'numeric' })}
                                                                        ${eventStart.toLocaleDateString("ru-RU", { month: 'long' })}
                                                                        ${eventStart.toLocaleDateString("ru-RU", { year: 'numeric' })} в
                                                                        ${eventStart.toLocaleTimeString("ru-RU", { timeStyle: 'short' })}
                                                                    </div>
                                                                    <div class="card-venue">
                                                                        <a class="card-venue-link" href="#">
                                                                            ${festival.location.name}
                                                                        </a>
                                                                    </div>
                                                                    <a href="#" class="card-price">
                                                                        БИЛЕТЫ ОТ 1500 ₽
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                `);
                    });
                    $('#all-festivals').btnLoadmore({
                        showItem: 15, //default 6
                        whenClickBtn: 15, //default 3
                        textBtn: 'больше мероприятий',
                        classBtn: 'btn-showmore'
                    });
                },
                error: function (result) {
                    console.log(result);
                }
            });
        });

        $('#performances-link').on("click", function () {
            $.ajax({
                type: "GET",
                url: "/Event/GetEventsByCategory",
                data: { category: "Спектакли" },
                success: function (result) {
                    $('#performances-link').hide();
                    // This will create a new entry in the browser's history, without reloading
                    // window.history.pushState({}, '', '/Event/Performances');
                    window.history.pushState({}, '', '');

                    // This will replace the current entry in the browser's history, without reloading
                    // window.history.replaceState({}, null, 'https://localhost:44377/Event/Performances');
                    window.history.replaceState({}, null, 'https://localhost:44377');

                    console.log(result);
                    $('.concerts').remove();
                    $('.festivals').remove();
                    $('.for-children').remove();
                    $('#all-performances').empty();
                    $('.performances .category-header').text("Афиша спектакли Бишкека");
                    result.forEach((performance) => {
                        var eventStart = new Date(performance.eventStart);
                        $('#all-performances').append(`
                                                    <div class="col-md-4">
                                                        <div class="card p-0">
                                                            <div class="card-block-img">
                                                                <img src="${performance.posterImage}" alt="${performance.name}">
                                                                <a href="#"></a>
                                                                <div class="wrapper">
                                                                    <div class="card-age">${performance.ageLimit}+</div>
                                                                </div>
                                                                <div class="card-tag">
                                                                    <a href="#">Спектакли</a>
                                                                </div>
                                                            </div>
                                                            <div class="card-block-description">
                                                                <a class="card-title" href="#">Спектакль "${performance.name}"</a>
                                                                <div class="card-description">
                                                                    <div class="card-date">
                                                                        ${eventStart.toLocaleDateString("ru-RU", { day: 'numeric' })}
                                                                        ${eventStart.toLocaleDateString("ru-RU", { month: 'long' })}
                                                                        ${eventStart.toLocaleDateString("ru-RU", { year: 'numeric' })} в
                                                                        ${eventStart.toLocaleTimeString("ru-RU", { timeStyle: 'short' })}
                                                                    </div>
                                                                    <div class="card-venue">
                                                                        <a class="card-venue-link" href="#">
                                                                            ${performance.location.name}
                                                                        </a>
                                                                    </div>
                                                                    <a href="#" class="card-price">
                                                                        БИЛЕТЫ ОТ 1500 ₽
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                `);
                    });
                    $('#all-performances').btnLoadmore({
                        showItem: 15, //default 6
                        whenClickBtn: 15, //default 3
                        textBtn: 'больше мероприятий',
                        classBtn: 'btn-showmore'
                    });
                },
                error: function (result) {
                    console.log(result);
                }
            });
        });

        $('#for-children-link').on("click", function () {
            $.ajax({
                type: "GET",
                url: "/Event/GetEventsByCategory",
                data: { category: "Детям" },
                success: function (result) {
                    $('#for-children-link').hide();
                    // This will create a new entry in the browser's history, without reloading
                    // window.history.pushState({}, '', '/Event/Children');
                    window.history.pushState({}, '', '');

                    // This will replace the current entry in the browser's history, without reloading
                    // window.history.replaceState({}, null, 'https://localhost:44377/Event/Children');
                    window.history.replaceState({}, null, 'https://localhost:44377');

                    console.log(result);

                    $('.concerts').remove();
                    $('.festivals').remove();
                    $('.performances').remove();
                    $('#all-for-children').empty();
                    $('.for-children .category-header').text("Афиша детям Бишкека");
                    result.forEach((performance) => {
                        var eventStart = new Date(performance.eventStart);
                        $('#all-for-children').append(`
                                                    <div class="col-md-4">
                                                        <div class="card p-0">
                                                            <div class="card-block-img">
                                                                <img src="${performance.posterImage}" alt="${performance.name}">
                                                                <a href="#"></a>
                                                                <div class="wrapper">
                                                                    <div class="card-age">${performance.ageLimit}+</div>
                                                                </div>
                                                                <div class="card-tag">
                                                                    <a href="#">Детям</a>
                                                                </div>
                                                            </div>
                                                            <div class="card-block-description">
                                                                <a class="card-title" href="#">Спектакль "${performance.name}"</a>
                                                                <div class="card-description">
                                                                    <div class="card-date">
                                                                        ${eventStart.toLocaleDateString("ru-RU", { day: 'numeric' })}
                                                                        ${eventStart.toLocaleDateString("ru-RU", { month: 'long' })}
                                                                        ${eventStart.toLocaleDateString("ru-RU", { year: 'numeric' })} в
                                                                        ${eventStart.toLocaleTimeString("ru-RU", { timeStyle: 'short' })}
                                                                    </div>
                                                                    <div class="card-venue">
                                                                        <a class="card-venue-link" href="#">
                                                                            ${performance.location.name}
                                                                        </a>
                                                                    </div>
                                                                    <a href="#" class="card-price">
                                                                        БИЛЕТЫ ОТ 1500 ₽
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                `);
                    });
                    $('#all-for-children').btnLoadmore({
                        showItem: 15, //default 6
                        whenClickBtn: 15, //default 3
                        textBtn: 'больше мероприятий',
                        classBtn: 'btn-showmore'
                    });
                },
                error: function (result) {
                    console.log(result);
                }
            });
        });

        $('#venues-link').on("click", function () {
            $.ajax({
                type: "GET",
                url: "/Locations/GetAllLocations",
                success: function (result) {
                    $('#venues-link').hide();
                    // This will create a new entry in the browser's history, without reloading
                    // window.history.pushState({}, '', '/Locations/AllLocations');
                    window.history.pushState({}, '', '');

                    // This will replace the current entry in the browser's history, without reloading
                    // window.history.replaceState({}, null, 'https://localhost:44377//Locations/AllLocations');
                    window.history.replaceState({}, null, 'https://localhost:44377');

                    console.log(result);

                    $('.concerts').remove();
                    $('.festivals').remove();
                    $('.performances').remove();
                    $('.for-children').remove();
                    $('#all-venues').empty();
                    $('.venues .category-header').text("Площадки в Бишкеке");
                    result.forEach((venue) => {
                        $('#all-venues').append(`
                            <div class="col-md-4 p-0">
                                    <div class="card venues-card">
                                        <a href="#" class="venue">
                                            <div class="venue-card-img-container">
                                                <span class="venue-card-placeholder">${venue.name.charAt(0)}</span>
                                            </div>
                                            <div class="venue-card-content">
                                                <p class="venue-card-type">${venue.categories}</p>
                                                <p class="venue-card-title">${venue.name}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                        `);
                    });
                    $('#all-venues').btnLoadmore({
                        showItem: 15, //default 6
                        whenClickBtn: 15, //default 3
                        textBtn: 'показать еще',
                        classBtn: 'btn-showmore'
                    });
                },
                error: function (result) {
                    console.log(result);
                }
            });
        });
    </script>
}