@model System.Collections.Generic.List<LetsGo.Models.Event>

<div class="scroll">
    @foreach (var item in Model)
    {
        <a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none; ">
            <div class="d-flex ml-4 mt-3">
                <div class="search-tag" id="@item.Id">
                    <div class="p-image">
                        <img src="@item.PosterImage" alt="" class="rounded" style="width: 13rem;">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="search-tag-detail mt-3" style="color: black">@item.Name</div>
                    <div class="e-location" style="color: gray">
                        <p>@item.CreatedAt , @item.Location.Name</p>
                    </div>
                </div>
                <div class="button-price d-flex justify-content-center w-100">
                    <button class="btn btn-light m-auto">Price</button>
                </div>
            </div>
        </a>
    }
</div>


@* @foreach (var item in Model) *@
@* { *@
@*     <div class="d-flex"> *@
@*         <a asp-controller="Locations" asp-action="Details" asp-route-id="@item.Id"> *@
@*             <div class="search-tag" id="@item.Id" > *@
@*                 <div class="search-tag-detail">@item.Name</div> *@
@*             </div> *@
@*         </a> *@
@*     </div> *@
@* } *@