@model IndexPageViewModel
<div class="body_part_2">
    <div class="cont_2_body d-flex pb-3">
        <div class="container-2 container-fluid mx-auto">
            <h1 class="pt-1 mb-5 text-center">Быстрый поиск и покупка билетов</h1>
            <div class="container_basic_content">
                <div class="search_wrapper d-flex justify-content-center position-relative ">
                    <div class="seacrh_input input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <input id="livestream" name="livestream" type="text" class="form-control" placeholder="Событие или площадка" aria-label="Имя получателя" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="button">Город</button>
                        </div>
                    </div>
                   
                    <div id="search-page" class="search-page bg-white seacrh_input position-absolute">
                        @* <p id="values"></p> *@
                        <div id="search-events">
                            <div id="result" class="tag-results d-flex flex-column"></div>
                        </div>
                        <div>
                            @*для площадок*@
                        </div>
                    </div>
                </div>

                <div class="links">
                    <a onclick="Afisha()" role="button" aria-pressed="true">Афиша</a>
                    <a onclick="Today()" role="button" aria-pressed="true">Сегодня</a>
                    <a onclick="Tomorrow()" role="button" aria-pressed="true">Завтра</a>
                    <a onclick="Weekends()" role="button" aria-pressed="true">Выходные</a>
                </div>
                <div class="icon_buttons align-content-center">
                    <button class="btn btn_icon mx-2 mt-2"><i class="icon_btn far fa-calendar-alt"></i>Календарь</button>
                    <button class="btn btn_icon mx-2 mt-2"><i class="icon_btn fas fa-bars"></i>Фильтры</button>
                </div>
            </div>
        </div>
    </div>
    <div class="main_info_card card_group row mx-0 justify-content-center mt-5">
        <div class="col-lg-3 col-md-5 col-11 mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2">
                    <img class="img_card" width="58" height="52" src="~/images/68290.png" alt="pic-1">
                </div>
                <div class="card-body mx-auto p-0">
                    <h2 class="title_card">Все</h2>
                </div>
                <p class="card-text text-center text-lowercase pt-1">цены на билеты как в кассах</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-11 mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2">
                    <img class="img_card" width="58" height="52" src="~/images/26583.png" alt="pic-2">
                </div>
                <div class="card-body mx-auto p-0">
                    <h2 class="title_card">билеты</h2>
                </div>
                <p class="card-text text-center text-lowercase pt-1">онлайн всегда в наличии</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-11 mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2">
                    <img class="img_card" width="58" height="52" src="~/images/26634.png" alt="pic-3">
                </div>
                <div class="card-body mx-auto p-0">
                    <h2 class="title_card">без</h2>
                </div>
                <p class="card-text text-center text-lowercase pt-1">комиссии и прочих сборов</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-11 mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2">
                    <img class="img_card" width="58" height="52" src="~/images/2512085.png" alt="pic-4">
                </div>
                <div class="card-body mx-auto p-0">
                    <h2 class="title_card">наценки</h2>
                </div>
                <p class="card-text text-center text-lowercase pt-1">нет, вы платите только за билеты</p>
            </div>
        </div>
    </div>
</div>

<div class="events pt-3">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="categories">
                    <div class="concerts">
                        <div class="row justify-content-between">
                            <div class="col-11">
                                <h2 class="category-header">Концерты</h2>
                            </div>
                            <div class="col-1 p-0 ps-4">
                                <a asp-controller="Category" asp-action="Concerts" class="more-btn round">
                                    <span class="icon-more">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div id="all-concerts" class="row">
                            @foreach (var concert in Model.Concerts)
                            {
                                <div class="col-md-4">
                                    <div class="card p-0">
                                        <div class="card-block-img" onclick="Details('@concert.Id')">
                                            <img src="@concert.PosterImage" alt="@concert.Name">
                                            <div class="wrapper">
                                                <div class="card-age">@concert.AgeLimit+</div>
                                            </div>
                                            <div class="card-tag">
                                                <a href="#">Концерты</a>
                                            </div>
                                        </div>
                                        <div class="card-block-description">
                                            <div class="card-title" onclick="Details('@concert.Id')">
                                                Концерт "@concert.Name"
                                            </div>
                                            <div class="card-description">
                                                <div class="card-date">
                                                    @concert.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU")) в @concert.EventStart.ToString("HH:mm")
                                                </div>
                                                <div class="card-venue">
                                                    <a class="card-venue-link" href="#" onclick="LocationDetails('@concert.LocationId')">
                                                        @concert.Location.Name
                                                    </a>
                                                </div>
                                                <a href="#" class="card-price">
                                                    БИЛЕТЫ ОТ @concert.MinPrice сом
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="festivals">
                        <div class="row justify-content-between">
                            <div class="col-11">
                                <h2 class="category-header">Фестивали</h2>
                            </div>
                            <div class="col-1 p-0 ps-4">
                                <a asp-controller="Category" asp-action="Festivals" class="more-btn round">
                                    <span class="icon-more">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div id="all-festivals" class="row row-cols-1 row-cols-md-3">
                            @foreach (var festival in Model.Festivals)
                            {
                                <div class="col-md-4">
                                    <div class="card p-0">
                                        <div class="card-block-img" onclick="Details('@festival.Id')">
                                            <img src="@festival.PosterImage" alt="@festival.Name">
                                            <a href="#"></a>
                                            <div class="wrapper">
                                                <div class="card-age">@festival.AgeLimit+</div>
                                            </div>
                                            <div class="card-tag">
                                                <a href="#">Фестивали</a>
                                            </div>
                                        </div>
                                        <div class="card-block-description">
                                            <div class="card-title" onclick="Details('@festival.Id')">Фестиваль"@festival.Name"</div>
                                            <div class="card-description">
                                                <div class="card-date">
                                                    @festival.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU")) в @festival.EventStart.ToString("HH:mm")
                                                </div>
                                                <div class="card-venue">
                                                    <a class="card-venue-link" href="#" onclick="LocationDetails('@festival.LocationId')">
                                                        @festival.Location.Name
                                                    </a>
                                                </div>
                                                <a href="#" class="card-price">
                                                    БИЛЕТЫ ОТ @festival.MinPrice сом
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="performances">
                        <div class="row justify-content-between">
                            <div class="col-11">
                                <h2 class="category-header">Спектакли</h2>
                            </div>
                            <div class="col-1 p-0 ps-4">
                                <a asp-controller="Category" asp-action="Performances" class="more-btn round">
                                    <span class="icon-more">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div id="all-performances" class="row row-cols-1 row-cols-md-3">
                            @foreach (var performance in Model.Performances)
                            {
                                <div class="col-md-4">
                                    <div class="card p-0">
                                        <div class="card-block-img" onclick="Details('@performance.Id')">
                                            <img src="@performance.PosterImage" alt="@performance.Name">
                                            <a href="#"></a>
                                            <div class="wrapper">
                                                <div class="card-age">@performance.AgeLimit+</div>
                                            </div>
                                            <div class="card-tag">
                                                <a href="#">Спектакли</a>
                                            </div>
                                        </div>
                                        <div class="card-block-description">
                                            <div class="card-title" onclick="Details('@performance.Id')">
                                                Спектакль"@performance.Name"
                                            </div>
                                            <div class="card-description">
                                                <div class="card-date">
                                                    c @performance.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU"))
                                                    по @performance.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU"))
                                                </div>
                                                <div class="card-venue">
                                                    <a class="card-venue-link" href="#" onclick="LocationDetails('@performance.LocationId')">
                                                        @performance.Location.Name
                                                    </a>
                                                </div>
                                                <a href="#" class="card-price">
                                                    БИЛЕТЫ ОТ @performance.MinPrice сом
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="for-children">
                        <div class="row justify-content-between">
                            <div class="col-11">
                                <h2 class="category-header">Детям</h2>
                            </div>
                            <div class="col-1 p-0 ps-4">
                                <a asp-controller="Category" asp-action="Children" class="more-btn round">
                                    <span class="icon-more">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div id="all-for-children" class="row row-cols-1 row-cols-md-3">
                            @foreach (var forChildren in Model.ForChildren)
                            {
                                <div class="col-md-4">
                                    <div class="card p-0">
                                        <div class="card-block-img" onclick="Details('@forChildren.Id')">
                                            <img src="@forChildren.PosterImage" alt="@forChildren.Name">
                                            <a href="#"></a>
                                            <div class="wrapper">
                                                <div class="card-age">@forChildren.AgeLimit+</div>
                                            </div>
                                            <div class="card-tag">
                                                <a href="#">Детям</a>
                                            </div>
                                        </div>
                                        <div class="card-block-description">
                                            <div class="card-title" onclick="Details('@forChildren.Id')">@forChildren.Name</div>
                                            <div class="card-description">
                                                <div class="card-date">
                                                    c @forChildren.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU"))
                                                    по @forChildren.EventStart.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU"))
                                                </div>
                                                <div class="card-venue">
                                                    <a class="card-venue-link" href="#" onclick="LocationDetails('@forChildren.LocationId')">
                                                        @forChildren.Location.Name
                                                    </a>
                                                </div>
                                                <a href="#" class="card-price">
                                                    БИЛЕТЫ ОТ @forChildren.MinPrice сом
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="venues">
                        <div class="row justify-content-between">
                            <div class="col-11">
                                <h2 class="category-header">Площадки Бишкека</h2>
                            </div>
                            <div class="col-1 p-0 ps-4">
                                <a id="venues-link" class="more-btn round">
                                    <span class="icon-more">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div id="all-venues" class="row row-cols-1 row-cols-md-3">
                            @foreach (var location in Model.Locations)
                            {
                                <div class="col-md-4 p-0" onclick="LocationDetails('@location.Id')">
                                    <div class="card venues-card">
                                        <a href="#" class="venue">
                                            <div class="venue-card-img-container">
                                                <span class="venue-card-placeholder">@location.Name.Substring(0, 1)</span>
                                            </div>
                                            <div class="venue-card-content">
                                                <p class="venue-card-type">@location.Categories</p>
                                                <p class="venue-card-title">@location.Name</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                @*фильтрация*@
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(window).on('popstate', function (event) {
            $('body').load(location.href);
        });

        $('#venues-link').on("click", function () {
            $.ajax({
                type: "GET",
                url: "/Locations/GetAllLocations",
                success: function (result) {
                    $('#venues-link').hide();
                    // This will create a new entry in the browser's history, without reloading
                    // window.history.pushState({}, '', '/Locations/AllLocations');
                    window.history.pushState({}, '', '');

                    // This will replace the current entry in the browser's history, without reloading
                    // window.history.replaceState({}, null, 'https://localhost:44377//Locations/AllLocations');
                    window.history.replaceState({}, null, 'https://localhost:44377');

                    console.log(result);

                    $('.concerts').remove();
                    $('.festivals').remove();
                    $('.performances').remove();
                    $('.for-children').remove();
                    $('#all-venues').empty();
                    $('.venues .category-header').text("Площадки в Бишкеке");
                    result.forEach((venue) => {
                        $('#all-venues').append(`
                                <div class="col-md-4 p-0">
                                        <div class="card venues-card">
                                            <a href="#" class="venue" onclick="LocationDetails('${venue.Id}')">
                                                <div class="venue-card-img-container">
                                                    <span class="venue-card-placeholder">${venue.name.charAt(0)}</span>
                                                </div>
                                                <div class="venue-card-content">
                                                    <p class="venue-card-type">${venue.categories}</p>
                                                    <p class="venue-card-title">${venue.name}</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                            `);
                    });
                    $('#all-venues').btnLoadmore({
                        showItem: 15, //default 6
                        whenClickBtn: 15, //default 3
                        textBtn: 'показать еще',
                        classBtn: 'btn-showmore'
                    });
                },
                error: function (result) {
                    console.log(result);
                }
            });
        });

        function Details(eventId) {
                window.location.href = '@Url.Action("Details", "Event")?id=' + eventId;
        }
        
        document.getElementById('livestream').addEventListener('keyup', function (e) {
                    LiveSearch()
                   });
        function LiveSearch() {
            let value = document.getElementById('livestream').value
            $.ajax({
                type: "GET", 
                url: '@Url.Action("Search", "Home")',
                data: {search: value },
                datatype: "html",
                success: 
                 function (data) {
                    console.log('OK')
                    console.log(data)
                          $('#result').html(data);
                         }
                });
            
            let timeout = null;
            
            document.getElementById('livestream').addEventListener('keyup', function (e) {  
                  clearTimeout(timeout);
            
                  timeout = setTimeout(function () {
                         LiveSearch()
                  }, 200);
             });
        }   
        
        const input         = document.getElementById('livestream');
        const searchPage    = document.getElementById('search-page');
        
        
        input.addEventListener('input', function (e) {
            if (input.value === null || input.value === "") {
                console.log("1")
                searchPage.style.display = 'none';
            } else {
                searchPage.style.display = 'block';
            }
        });

        function LocationDetails(locationId) {
            event.preventDefault();
            event.stopPropagation();
            window.location.href = '@Url.Action("Details","Locations")?id=' + locationId;
        }

        function Afisha() {
                window.location.href = '@Url.Action("Afisha", "Event")';
        }

        function Today() {
                window.location.href = '@Url.Action("Today", "Event")';
        }

        function Tomorrow() {
                window.location.href = '@Url.Action("Tomorrow", "Event")';
        }

        function Weekends() {
                window.location.href = '@Url.Action("Weekends", "Event")';
        }
    </script>
}