@model LetsGo.UI.ViewModels.LocationDetailsViewModel
@{
    ViewBag.Title = Model.Location.Name;
}

<div class="pn-page_section my-4">
    <div class="pn-page-head bg-dark">
        @if (Model.Location.LocationImage != null)
        {
            <img class="blur_img" src="@Model.Location.LocationImage" alt="">
        }
        <div class="row">
            <div class="col-lg-4">
                <div class="pn-head_image">
                    @if (Model.Location.LocationImage != null)
                    {
                        <img src="@Model.Location.LocationImage" alt="" class="rounded">
                    }
                </div>
            </div>
            <div class="col-lg-8">
                <div class="pn-head_title">
                    <h1>@Model.Location.Name</h1>
                </div>
                <div class="pn-head_description">
                    <div class="pn-head_text">Адрес: @Model.Location.Address</div>
                    <div class="pn-head_place">@Model.FutureEvents.Count предстоящих мероприятий в @Model.Location.Name</div>
                </div>
                <div class="pn-head_tags">
                    @if (Model.Location.Categories != null)
                    {
                        @foreach (var item in Model.LocationCategories)
                        {
                            <a href="#" class="tag">@item.Name</a>
                        }
                    }
                </div>
                <div class="pn-head_buttons">
                    <button class="btn btn-dark" onclick="Scroll()">
                        <span>Афиша</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="location">            
            <div class="row mx-2 py-5">
                <div class="col-8">
                    <h5 class="details_subheader">@Model.Location.Name</h5>
                    <p class="mr-3">@Model.Location.Description</p>
                    @if (Model.FutureEvents.Count != 0)
                    {
                        <h5 class="events details_subheader pt-5">Расписание мероприятий</h5>
                        <div class="container">
                            @*<div class="row">
                                <div class="col-1"><button id="slideBack" type="button" class="btn btn-light"><i class="fas fa-arrow-left"></i></button></div>
                                <div class="col-10">
                                    <div class="scoll-pane" id="container">
                                        <ul class="months scroll-list">
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-1"><button id="slide" type="button" class="btn btn-light"><i class="fas fa-arrow-right"></i></button></div>
                            </div>*@
                            <hr />
                            @foreach (var item in Model.FutureEvents)
                            {
                                <div class="future-events row py-2" onclick="Details('@item.Id')">
                                    <div class="col-2 row p-0 mx-3">
                                        <div class="col-5 p-0 day">
                                            <span>
                                                @item.EventStart.Day
                                            </span>
                                        </div>
                                    <div class="col-7 p-2"><span class="font-weight-bold">@item.EventStart.ToString("MMMM").ToUpper()</span><br /><span class="gray">@item.EventStart.DayOfWeek</span></div></div>
                                    <div class="col-6 p-2 pl-4">
                                        <h6 class="font-weight-bold">@item.Name</h6>
                                        <p class="address gray">@item.EventStart.ToShortTimeString(), @Model.Location.Name</p>
                                    </div>
                                    <div class="col-3 p-2 text-right ml-auto"><button class="btn btn-danger px-3 py-2"><span class="future-events">Билеты от @item.MinPrice с</span></button></div>
                                </div>
                                <hr />
                            }
                        </div>
                    }
                    @if (Model.PastEvents.Count != 0)
                    {
                        <h5 class="details_subheader pt-5">Прошедшие события</h5>
                        <div class="container">
                            <hr />
                            @foreach (var item in Model.PastEvents)
                            {
                                <div class="future-events dark-gray row py-2" onclick="Details('@item.Id')">
                                    <div class="col-2 row p-0 mx-3">
                                        <div class="col-5 p-0 day">
                                            <span>
                                                @item.EventStart.Day
                                            </span>
                                        </div>
                                        <div class="col-7 p-2"><span class="font-weight-bold">@item.EventStart.ToString("MMMM").ToUpper()</span><br /><span class="gray">@item.EventStart.DayOfWeek</span></div>
                                    </div>
                                    <div class="col-6 p-2 pl-4">
                                        <h6 class="font-weight-bold">@item.Name</h6>
                                        <p class="address gray">@item.EventStart.ToShortTimeString(), @Model.Location.Name</p>
                                    </div>
                                    <div class="col-3 p-2 text-right ml-auto"><button class="btn btn-light future-events px-3 py-2"><span>Перейти</span></button></div>
                                </div>
                                <hr />
                            }
                        </div>
                    }
                </div>
                <div class="col-4 side_descr">
                    <div class="pb-3">
                        <p>*календарик, если надо будет</p>
                    </div>
                    <div class="pb-3">
                        <h6>Как добраться до @Model.Location.Name</h6>
                        <p>Адрес: @Model.Location.Address</p>
                    </div>
                    <div class="pb-3">
                        <p>*карта, если надо будет</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
    function Scroll() {
        $([document.documentElement, document.body]).animate({
            scrollTop: $(".events").offset().top
        }, 1000);
    };
    function Details(eventId) {
                window.location.href = '@Url.Action("Details","Event")?id=' + eventId;
    };
        //var button = document.getElementById('slide');
        //button.onclick = function () {
        //    var container = document.getElementById('container');
        //    sideScroll(container, 'right', 25, 100, 10);
        //};

        //var back = document.getElementById('slideBack');
        //back.onclick = function () {
        //    var container = document.getElementById('container');
        //    sideScroll(container, 'left', 25, 100, 10);
        //};

        //function sideScroll(element, direction, speed, distance, step) {
        //    scrollAmount = 0;
        //    var slideTimer = setInterval(function () {
        //        if (direction == 'left') {
        //            element.scrollLeft -= step;
        //        } else {
        //            element.scrollLeft += step;
        //        }
        //        scrollAmount += step;
        //        if (scrollAmount >= distance) {
        //            window.clearInterval(slideTimer);
        //        }
        //    }, speed);
        //};

        @*$(document).ready(function () {
            var resultList = [];
            var date = new Date();
            var endDate = new Date(parseInt(@(Model.MaxDate.Year)), parseInt(@(Model.MaxDate.Month))-1, parseInt(@(Model.MaxDate.Day)));
            console.log(date);
            console.log(endDate);
            var monthNameList = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];
            while (date <= endDate) {
                var stringDate = monthNameList[date.getMonth()] + " " + date.getFullYear();
                resultList.push(stringDate);
                date.setMonth(date.getMonth() + 1);
            }
            var count = 0;
            resultList.forEach(function () {
                $('.months').append('<li>' + resultList[count] + '</li>');
                count = count + 1;
                console.log(count);
            });
        });*@

</script>
}