@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LetsGo.UI.ViewModels.IndexPageViewModel

<div class="scroll">
    <h3 class=" ml-4 mt-3" style="color: grey">@Localizer["Events"]</h3>
    @if (Model.Concerts.Count != 0)
    {
        @foreach (var item in Model.Concerts)
        {
            <a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none; ">
                <div class=" d-flex ml-4 mt-3">

                    <div class="search-tag" id="@item.Id">
                        <div class="p-image">
                            <img src="@item.PosterImage" alt="" class="rounded" style="width: 10rem;">
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="search-tag-detail font-weight-bold" style="color: black">
                            <p>@item.Name</p>
                        </div>
                        <div class="e-location" style="color: gray">
                            <p>@item.CreatedAt , @item.Location.Name</p>
                        </div>
                    </div>
                    <div class="button-price d-flex justify-content-center w-100">
                        <button class="btn btn-light m-auto">@Localizer["Price"] @item.MinPrice</button>
                    </div>
                </div>
            </a>
        }

    }
<h3 class="ml-4 mt-3" style="color: grey">@Localizer["Locations"]</h3>
    @if (Model.Locations.Count != 0)
    {
        @foreach (var item in Model.Locations)
        {
            <a asp-controller="Locations" asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none; ">
                <div class="d-flex ml-4 mt-3">

                    <div class="search-tag" id="@item.Id">
                        <div class="p-image">
                            <img src="/images/gradient.jpeg" alt="" class="rounded" style="width: 10rem;">
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="search-tag-detail font-weight-bold" style="color: black">
                            <p>@item.Name</p>
                        </div>
                        <div class="e-location" style="color: gray">
                            <p>@item.Address , @item.Name</p>
                        </div>
                    </div>
                    <div class="button-l d-flex justify-content-center w-100">
                        <button class="btn btn-light m-auto">@Localizer["Follow"]</button>
                    </div>
                </div>
            </a>
        }
    }
</div>