@model EventViewModel

@{
    ViewBag.Title = "Добавление нового события";
}
<h2>@ViewBag.Title</h2>
<hr />
<form asp-controller="Event" asp-action="Add" method="post" EncType="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input id="name" asp-for="Name" />
        <span asp-validation-for="Name" id="invalid"></span>
    </div>
    <div>
        <label asp-for="Description"></label><br />
        <input id="description" asp-for="Description" />
        <span asp-validation-for="Description" id="invalid"></span>
    </div>
    <div>
        <label asp-for="EventStart"></label><br />
        <input id="eventStart" asp-for="EventStart" type="datetime-local" />
        <span asp-validation-for="EventStart" id="invalid"></span>
    </div>
    <div>
        <label asp-for="EventEnd"></label><br />
        <input id="eventEnd" asp-for="EventEnd" type="datetime-local" />
        <span asp-validation-for="EventEnd" id="invalid"></span>
    </div>
    <div>
        <label asp-for="TicketLimit"></label><br />
        <input id="ticketLimit" asp-for="TicketLimit"/>
        <span asp-validation-for="TicketLimit" id="invalid"></span>
    </div>
    <div>
        <label for="uploadImage">Постер</label><br />
        <input type="file" name="uploadImage" id="uploadImage" required onchange="GetPoster('uploadImage')">
    </div>
    <div>
        <label for="radioBtns"></label>Возрастное ограничение<br />
        <div id="radioBtns">
            @{int i = 1;}
            @foreach (var item in ViewBag.AgeLimits)
            {
                <input id="ageLimit-@i" type="radio" name="AgeLimit" value="@item" onchange="TakeAgeLimit(@i)">
                <label for="ageLimit-@i">@item+</label>
                i++;
            }
        </div>
    </div>
    <div>
        <label for="checkBoxes"></label>Категории<br />
        <div id="checkBoxes">
            @{int count = 1;}
            @foreach (var item in ViewBag.Categories)
            {
                <input type="checkbox" id="categ-@count"
                       name="category" value="@item" onchange="AddCateg(@count)">
                <label for="roleChoice1">@item</label>
                count++;
            }
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" onclick="AddEvent()">Добавить</button>
    </div>
</form>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
 
<script>

        var categs = [];
        var ageLimit;
        var formData = new FormData();

    function AddCateg(count) {
        var categ = $('#categ-' + count).val()
        var bool = categs.includes(categ)
        if (!bool) {
            categs.push(categ);
        } else {
            categs.splice(categs.indexOf(categ), 1)
        }
            console.log(categs)
        }

        function TakeAgeLimit(i) {
            ageLimit = $('#ageLimit-' + i).val();
            console.log(ageLimit)
        }

       function GetPoster(uploadImage) {
           var input = document.getElementById(uploadImage)
           var file = input.files[0]
           formData.append("file", file);
           console.log(formData)
      }


    function AddEvent(evt) {
        formData.append("name", $('#name').val());
        formData.append("description", $('#description').val());
        formData.append("eventStart", $('#eventStart').val());
        formData.append("eventEnd", $('#eventEnd').val());
        formData.append("categories", categs);
        formData.append("ageLimit", ageLimit);
        formData.append("ticketLimit", $('#ticketLimit').val());
        console.log(formData)

        $.ajax({
            method: "POST",
            url: '@Url.Action("Add", "Event")',
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                alert(response);
            }
        });
    }


</script>
}
