@model AddEventViewModel
@{
    ViewBag.Title = "Добавление нового события";
}

<div class="form-container">
    <h2 class="form-header">@ViewBag.Title</h2><hr />
    <form id="add-event-form" asp-controller="Event" asp-action="Add" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label><br />
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label><br />
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location"></label><br />
            <input asp-for="Location" class="form-control" list='locations'/>
            <datalist id='locations'>
                @foreach (var item in ViewBag.Locations)
                {
                    <option>@item.Name</option>
                }
            </datalist>
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EventStart"></label><br />
            <input asp-for="EventStart" type="datetime-local" class="form-control" />
            <span asp-validation-for="EventStart" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EventEnd"></label><br />
            <input asp-for="EventEnd" type="datetime-local" class="form-control" />
            <span asp-validation-for="EventEnd" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="File" class="control-label">Загрузка аватарки</label>
            <input asp-for="File" type="file" class="form-control" />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AgeLimit"></label>
            <input asp-for="AgeLimit" type="number" min="0" max="18" value="0" class="form-control" />
            <span asp-validation-for="AgeLimit" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label class="label">Выберите категории</label>
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                <div class="form-check">
                    <input type="hidden" asp-for="@Model.Categories[i].Value" />
                    <input type="hidden" asp-for="@Model.Categories[i].Text" />
                    <input class="form-check-input" asp-for="Categories[i].Selected" />
                    <label class="form-check-label">
                        @Model.Categories[i].Text
                    </label>
                </div>
            }
        </div>
        <div class="pt-5">
            <h4>Билеты</h4>
            <p>Общее число билетов: <b><span id="total-tickets">0</span></b></p>
            <input type="hidden" asp-for="Tickets" />
            <input type="hidden" asp-for="TicketLimit" />
            <table class="table tickets-table">
                <thead>
                    <tr>
                        <th style="width: 30%;">Название</th>
                        <th style="width: 30%;">Описание</th>
                        <th style="width: 15%;">Количество</th>
                        <th style="width: 15%;">Цена</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <input id="ticket_name" placeholder="название" class="ticket-input form-control" />
            <input id="ticket_count" type="number" placeholder="количество" class="ticket-input form-control" />
            <input id="ticket_price" type="number" placeholder="цена" class="ticket-input form-control" />
            <textarea id="ticket_desc" placeholder="описание" class="form-control mb-2" rows="3" style="resize:none;"></textarea>
            <input type="button" class="btn btn-primary" value="Добавить билет" onclick="AddTicket()" />
        </div>
        <hr />
        <div class="form-group text-center">
            <button id="add" type="submit" class="btn btn-success px-5 py-2">Добавить</button>
        </div>
    </form>

</div>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
    let totalTickets = $('#total-tickets');

    function AddTicket() {
        var name = $('#ticket_name');
        var desc = $('#ticket_desc');
        var count = $('#ticket_count');
        var price = $('#ticket_price');

        if (name.val() != '' && count.val() != '' && price.val() != '') {
            totalTickets.text(parseInt(totalTickets.text()) + parseInt(count.val()));

            $('.tickets-table tbody').append('<tr><td><b>' + name.val() +
                '</b></td><td>' + desc.val() +
                '</b></td><td>' + count.val() +
                '</td><td>' + price.val() +
                '</td><td><input type="button" class="btn btn-outline-danger" value="✘" onclick="DeleteTicket(this)">' +
                '</td></tr> ');
            name.val('');
            desc.val('');
            count.val('');
            price.val('');
        }
    }

    function DeleteTicket(a) {
        totalTickets.text(parseInt(totalTickets.text()) - parseInt($(a).closest('tr').find('td').eq(2).text()));
        $(a).closest('tr').remove()
    }

    $('form').submit(function () {
        event.preventDefault();
        //ticketLimit
        $('#TicketLimit').val(totalTickets.text());
        // categories
        var categories = [];
        $('#checkbox input:checked').each(function () {
            categories.push($(this).attr('value'));
        })
        $('#Categories').val(categories);
        // tickets
        var tickets = [];
        $('.tickets-table tbody tr').each(function () {
            tickets.push(
                '{"Name":"' + $(this).find('td').eq(0).text() + '",' +
                '"Description":"' + $(this).find('td').eq(1).text() + '",' +
                '"Count":' + $(this).find('td').eq(2).text() + ',' +
                '"Price":' + $(this).find('td').eq(3).text() + '}');
        });
        $('#Tickets').val("[" + tickets.join() + "]");
        var formData = new FormData(this);
        $.ajax({
            url: '@Url.Action("Add", "Event")',
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                console.log(response);
                if (response.success) {
                    window.location.href = response.href;
                }
            },
        });
    });
    var locations = document.getElementById('locations')
    console.log(locations)

    </script>
}
