@model DetailsViewModel
@{
    ViewBag.Title = "Детальная страница мероприятия";
}

<div class="pn-page_section">
<div class="pn-page-head">
    <img class="blur_img" src="@Model.Event.PosterImage" alt="">
    <div class="row">
        <div class="col-lg-4">
            <div class="pn-head_image">
                <img src="@Model.Event.PosterImage" alt="" class="rounded">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="pn-head_title">
                <h1>@Model.Event.Name</h1>
                <span>@Model.Event.AgeLimit +</span>
            </div>
            <div class="pn-head_description">
                <div class="pn-head_text">@*20 ноября 2021 в 20:00*@</div>
                <div class="pn-head_text">@Model.Event.EventStart.ToShortDateString() @Model.Event.EventEnd.ToShortDateString()</div>
                <div class="pn-head_place">@Model.Event.Location.Name</div>
            </div>
            <div class="pn-head_tags">
                @* @if (Model.Event.Categories != null) *@
                @* { *@
                @*     @foreach (var item in Model.EventCategories) *@
                @*     { *@
                @*         <a href="#" class="tag">@item.Name</a> *@
                @*     } *@
                @* } *@

            </div>
            <div class="pn-head_buttons">
                <button class="btn btn-danger" onclick="Scroll()">
                    <span>билеты</span>
                </button>
                <button class="btn btn-light">
                    <span>другие сеансы</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="event">
        <div class="info">
            <h1>@Model.Event.Name</h1>
            <p>@Model.Event.EventStart.ToLongDateString() — @Model.Event.EventEnd.ToLongDateString()</p>
        </div>
        <!--<div class="menu">
        <button id="prices" class="btn btn-light">цены / места</button>
        <div class="section_box">-->
        <!-- типы билетов, с ценами -->
        <!--<div class="dynamic">
            <div class="section_block">
                <div class="color_bl" style="background-color: #e3ff00;"></div>
                <div class="price">— 5000 руб.</div>
            </div>
            <div class="section_block">
                <div class="color_bl" style="background-color: #ef0000;"></div>
                <div class="price">— 4000 руб.</div>
            </div>
            <div class="section_block">
                <div class="color_bl" style="background-color: bisque;"></div>
                <div class="price">— 3000 руб.</div>
            </div>
        </div>
        <div class="section_status">
            <div class="section_fix">
                <div class="color_bl" style="background-color: #2b2b2b;"></div>
                <div class="price">Забронированные места</div>
            </div>
            <div class="section_fix">
                <div class="color_bl" style="background-color: #e1e1e1;"></div>
                <div class="price">Выкупленные места</div>
            </div>
        </div>
        </div>
        </div>-->
        <div>

            <div class="places">
                <table class="table tickets">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Count</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.EventTickets)
                    {
                        <tr>
                            <td scope="row">@item.Name</td>
                            <td>@item.Price</td>
                            <td>0</td>
                            <td>
                                <input type="button" class="btn btn-outline-success" value="+" onclick="PlusCount(this)">
                                <input type="button" class="btn btn-outline-danger" value=" - " onclick="MinusCount(this)">
                            </td>
                            <td>
                                <input id="typeId" type="hidden" asp-for="@item.Id"/>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <input type="button" class="btn btn-dark btn-lg" value="Оформить заказ" onclick="Basket()">
            </div>


            <div id="checkout" style="display: none;" class="mx-4 py-5">
                <h5>Корзина</h5>
                <hr style="color: black">
                <form id="basket">
                    <div class="b-title">
                        <h5>@Model.Event.Name</h5>
                        <span>@Model.Event.AgeLimit +</span>
                    </div>
                    <div class="b-description">
                        <div class="b-text">@Model.Event.EventStart.ToShortDateString() @Model.Event.EventEnd.ToShortDateString()</div>
                        <div class="b-place">@Model.Event.Location.Name</div>
                    </div>
                    <table class="table table-hover table-basket mt-5 mb-5">
                        <thead style="color: gray">
                        <tr>
                            <th scope="col">Билет</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            @foreach (var i in Model.EventTickets)
                            {
                                <th scope="row">@i.Name</th>
                                <td>@i.Price</td>
                                <td>Sum</td>
                                <td><a onclick="del('@i.Id')" style="cursor: pointer"><i class="fas fa-times"></i></a></td>
                            }
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-right mb-5">
                        <div class="pb-3">
                            @foreach (var i in Model.EventTickets)
                            {
                                <h6>билет на сумму: </h6>
                                <p>Итого к оплате: </p>
                            }
                        </div>
                    </div>
                </form>


                <h5>Куда и кому отправить билеты?</h5>
                <p>Пожалуйста, будьте внимательны при вводе e-mail адреса!</p>
                <form id="ticket-buyer-form">
                    <div class="form-row">
                        <div class="col">
                            <input id="name" type="text" class="form-control" placeholder="Имя" required>
                        </div>
                        <div class="col">
                            <input id="phone" type="text" class="form-control" placeholder="Номер телефона" required>
                        </div>
                        <div class="col email">
                            <input id="email" type="text" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark mt-4 px-3 btn-lg">Оплатить</button>
                </form>
            </div>

        </div>
        <div class="row mx-2 py-5">
            <div class="col-8">
                <h5 class="details_subheader">О мероприятии</h5>
                <p>@Model.Event.Description</p>
                <h5 class="details_subheader pt-4">Фотографии</h5>
                <div class="card" style="width: 30%;">
                    <img src="@Model.Event.PosterImage" alt="" class="rounded">
                </div>
            </div>
            <div class="col-4 side_descr">
                <div class="pb-3">
                    <h6>Почему TicketBox?</h6>
                    <p>У TicketBox заключен официальный договор на реализацию билетов. Все цены на билеты официальные.</p>
                </div>
                <div class="pb-3">
                    <h6>Не откладывайте покупку</h6>
                    <p>Ближе к датам мероприятий цены на билеты могут повышаться, а востребованные категории билетов заканчиваться.</p>
                </div>
                <div class="pb-3">
                    <h6>Никаких сервисных сборов!</h6>
                    <p>На мероприятие Интерстеллар. Simple Music Ensemble даже электронные билеты без сервисных сборов.</p>
                </div>
                <div>
                    <h4 style="color:#525252;">Место проведения</h4>
                    <p class="text-body">@Model.Event.Location.Name</p>
                    <p>@Model.Event.Location.Address</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="position-fixed p-3" style="z-index: 11; position: sticky; top: 0; right:0;">
    <div class="toast align-items-center text-dark bg-white rounded border-1 badge-dark"
         role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto">LetsGo</strong>
            <button type="button" class="ml-auto mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Билеты отосланы вам на почту!
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $('#prices').click(function () {
            if ($('.section_box').is(':visible')) {
                $('.section_box').hide();
            }
            else {
                $('.section_box').show();
                $('.section_box').css({ position: "absolute" });
            }
        });
        function Scroll() {
            $([document.documentElement, document.body]).animate({
                scrollTop: $(".places").offset().top
            }, 1000);
        };
        function PlusCount(a) {
            $(a).closest('tr').find('td').eq(2).text(parseInt($(a).closest('tr').find('td').eq(2).text()) + 1);
        }
        function MinusCount(a) {
            var t = $(a).closest('tr').find('td').eq(2).text();
            if (t != 0) {
                $(a).closest('tr').find('td').eq(2).text(parseInt(t) - 1);
            }
        }
        function Basket() {
            $('.tickets tbody tr').each(function () {
                if ($(this).find('td').eq(2).text() != 0) {
                    $('#checkout').show()
                    ;
                }
            });
        
        }
        $('#ticket-buyer-form').submit(function (event) {
            event.preventDefault();
            var tickets = [];
            $('.tickets tbody tr').each(function () {
                tickets.push({
                    Id: $(this).find('td').eq(4).find('input').val(),
                    Name: $(this).find('td').eq(0).text(),
                    Count: $(this).find('td').eq(2).text()
                });
            });
            console.log(tickets);
            $.ajax({
                type: "POST",
                url: "/Ticket/Create",
                data: {
                    'model': {
                        'EventTickets': tickets,
                        'Name': $('#name').val(),
                        'Phone': $('#phone').val(),
                        'Email': $('#email').val()
                    }
                }
            }).done(function (response) {
                console.log(response);
                if (response.success) {
                    console.log("OK");
                    $('.toast').toast('show');
                    setTimeout(function () {
                        window.location.href = response.redirectToUrl;
                    }, 2000);
                }
                else {
                    $('.email').append('<p class="text-danger">Некорректный email адрес!</p>');
                }
            });
        });
        
        
        function del(a) {
                      const t = $(a).closest('tr').find('td').eq(2).text();
                                  if (t !== 0) {
                                      $(a).closest('tr').find('td').eq(2).text(parseInt(t) - 1);
                                  }
                   }
    </script>
}