@model DetailsViewModel
@{ 
    ViewBag.Title = "Детальная страница мероприятия";
} 

<div class="pn-page_section">
    <div class="pn-page-head">
        <img class="blur_img" src="~/events/@Model.Event.PosterImage" alt="">
        <div class="row">
            <div class="col-lg-4">
                <div class="pn-head_image">
                    <img src="~/events/@Model.Event.PosterImage" alt="" class="rounded">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="pn-head_title">
                    <h1>@Model.Event.Name</h1>
                    <span>@Model.Event.AgeLimit +</span>
                </div>
                <div class="pn-head_description">
                    <div class="pn-head_text">@*20 ноября 2021 в 20:00*@</div>
                    <div class="pn-head_text">@Model.Event.EventStart.ToShortDateString() @Model.Event.EventEnd.ToShortDateString()</div>
                    <div class="pn-head_place">@Model.Event.Location.Name</div>
                </div>
                <div class="pn-head_tags">
                    @foreach (var item in Model.EventCategories)
                    {
                        <a href="#" class="tag">@item.Name</a>
                    }
                </div>
                <div class="pn-head_buttons">
                    <button class="btn btn-danger" onclick="Scroll()"><span>билеты</span></button>
                    <button class="btn btn-light"><span>другие сеансы</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="event">
            <div class="info">
                <h1>@Model.Event.Name</h1>
                <p>@Model.Event.EventStart.ToLongDateString() — @Model.Event.EventEnd.ToLongDateString()</p>
            </div>
            <!--<div class="menu">
                <button id="prices" class="btn btn-light">цены / места</button>
                <div class="section_box">-->
                    <!-- типы билетов, с ценами -->
                    <!--<div class="dynamic">
                        <div class="section_block">
                            <div class="color_bl" style="background-color: #e3ff00;"></div>
                            <div class="price">— 5000 руб.</div>
                        </div>
                        <div class="section_block">
                            <div class="color_bl" style="background-color: #ef0000;"></div>
                            <div class="price">— 4000 руб.</div>
                        </div>
                        <div class="section_block">
                            <div class="color_bl" style="background-color: bisque;"></div>
                            <div class="price">— 3000 руб.</div>
                        </div>
                    </div>
                    <div class="section_status">
                        <div class="section_fix">
                            <div class="color_bl" style="background-color: #2b2b2b;"></div>
                            <div class="price">Забронированные места</div>
                        </div>
                        <div class="section_fix">
                            <div class="color_bl" style="background-color: #e1e1e1;"></div>
                            <div class="price">Выкупленные места</div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="places">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Count</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.eventTickets)
                        {
                        <tr>
                            <th scope="row">@item.Name</th>
                            <td>@item.Price</td>
                            <td>0</td>
                            <th><input type="button" class="btn btn-outline-success" value="+" onclick="PlusCount(this)">
                                <input type="button" class="btn btn-outline-danger" value=" - " onclick="MinusCount(this)"></th>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row mx-2 py-5">
                <div class="col-8">
                    <h5 class="details_subheader">О мероприятии</h5>
                    <p>@Model.Event.Description</p>
                    <h5 class="details_subheader pt-4">Фотографии</h5>
                    <div class="card" style="width: 30%;">
                        <img src="~/events/@Model.Event.PosterImage" alt="" class="rounded">
                    </div>
                </div>
                <div class="col-4 side_descr">
                    <div class="pb-3">
                        <h6>Почему TicketBox?</h6>
                        <p>У TicketBox заключен официальный договор на реализацию билетов. Все цены на билеты официальные.</p>
                    </div>
                    <div class="pb-3">
                        <h6>Не откладывайте покупку</h6>
                        <p>Ближе к датам мероприятий цены на билеты могут повышаться, а востребованные категории билетов заканчиваться.</p>
                    </div>
                    <div class="pb-3">
                        <h6>Никаких сервисных сборов!</h6>
                        <p>На мероприятие Интерстеллар. Simple Music Ensemble даже электронные билеты без сервисных сборов.</p>
                    </div>
                    <div>
                        <h4 style="color:#525252;">Место проведения</h4>
                        <p class="text-body">@Model.Event.Location.Name</p>
                        <p>@Model.Event.Location.Address</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts 
{
<script>
    $('#prices').click(function () {
        if ($('.section_box').is(':visible')) {
            $('.section_box').hide();
        }
        else {
            $('.section_box').show();
            $('.section_box').css({ position: "absolute" });
        }
    });
    function Scroll() {
        $([document.documentElement, document.body]).animate({
            scrollTop: $(".places").offset().top
        }, 1000);
    };
    function PlusCount(a) {
        $(a).closest('tr').find('td').eq(1).text(parseInt($(a).closest('tr').find('td').eq(1).text()) + 1);
    }
    function MinusCount(a) {
        $(a).closest('tr').find('td').eq(1).text(parseInt($(a).closest('tr').find('td').eq(1).text()) - 1);
    }
</script>
} 